body {
    font-family: 'Noto Sans KR', sans-serif;
}
/* 노멀라이징  */
* {
    margin: 0;
    padding: 0;
  }
  
  ul,li {
    list-style: none;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  /* 라이브러리 */
  .cell {
    float: left;
  }
  
  .cell-r {
    float: right;
  }
  
  .row::after {
    clear: both;
    content: "";
    display: block;
  }
  
  .con {
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
}
  }
  
  /* 스타일 */


  /* top-menu st */
  .gnb-area {
    width: 100%;
  }
  .gnb-area >.top-menu-wrap {
    margin-top: 15px;
  }
  .gnb-area >.top-menu-wrap >.top-menu {
  }
  .gnb-area >.top-menu-wrap >.top-menu >.menu { 
    margin-right: 3px;
    padding: 12px 8px 15px 8px;
    position: relative;
  }

  /* 메뉴 이름  */
  .gnb-area >.top-menu-wrap >.top-menu >.menu > a { 
    display: block;
    font-size: 14px;
    color: #444;
  }

  /* 메뉴 윗줄  */
  .gnb-area >.top-menu-wrap >.top-menu >.menu > a::before {
    width: 100%;
    height: 3px;
    content: "";
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .gnb-area >.top-menu-wrap >.top-menu >.menu04 {
    margin-right: 16px;
  }
  .gnb-area >.top-menu-wrap >.top-menu >.menu04 > a > img {
    margin-left: 12px;
  }
  .gnb-area >.top-menu-wrap >.top-menu >.menu05 > a > img {
    margin-left: 12px;
  }
  .gnb-area >.top-menu-wrap >.top-menu >.menu05 {
    margin-right: 16px;
  }
 
  .gnb-area >.top-menu-wrap >.top-menu >.menu06 li {
    margin-right: 7.5px;
    margin-left: 7.5px;
  }
  .gnb-area >.top-menu-wrap >.top-menu >.menu06 li >a {
    
  }

  /* row-menu st */

.gnb-area >.row-menu {
  height: 120px;
  background-color: green;
  padding: 0;
  position: relative;
}

/* 로고 */
.gnb-area >.row-menu >.logo-box {
  /* background-color: red;  */
}
.gnb-area >.row-menu >.logo-box >.logo {
  position: absolute;
  top:28px;
  left: 0;
}

/* 메뉴 */
.gnb-area >.row-menu >.nav-box {
  /* height: 120px; */
  /* background-color: yellow;  */
  padding: 50px 0 0 300px;
  box-sizing: border-box;
}
.gnb-area >.row-menu >.nav-box >.depth01 {

}
.gnb-area >.row-menu >.nav-box >.depth01 > li{
  margin-right: 35px;
}
.gnb-area >.row-menu >.nav-box >.depth01 > li > a{
  font-size: 22px;
  color: #222;
  font-weight: 500;
  transition: 0.2s;
}
.gnb-area >.row-menu >.nav-box >.depth01 > li > a:hover {
  color: #3f0b9f;
}
/* 서브 메뉴 */
.gnb-area >.row-menu >.nav-box >.depth01 .depth02 {
  display: none;
}




/* 로그인, 회원가입, 검색 */
.gnb-area >.row-menu >.login-box {
  /* background-color: pink;  */
  position: absolute;
  top: 48px;
  right: 5px;
}
.gnb-area >.row-menu >.login-box > ul > li {
  margin-right: 10px;
}
.gnb-area >.row-menu >.login-box > ul > li > a {
  color: #444;
  font-size: 15px;
  font-weight: 500;
}
.gnb-area >.row-menu >.login-box > ul > li > a >.button {
  background-image: url(../IMG/btn_search_open.png);
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* 메인 비쥬얼 / 슬라이드 */
.main-visual {
  margin-top: 35px;
  position: relative;
}
.main-visual >.main-slider {
  width: 100%;
  padding: 0;
}
.main-visual >.main-slider .content > a {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding-bottom:43.472% ;
}
.main-visual >.main-slider .content01 >a {
  background-image: url(../IMG/section1-1.jpg);
}
.main-visual >.main-slider .content02  >a {
  background-image: url(../IMG/section1-2-new.jpg);
}
.main-visual >.main-slider .content03 >a  {
  background-image: url(../IMG/section1-3.jpg);
}
.main-visual >.main-slider .content04  >a {
  background-image: url(../IMG/section1-4-new.jpg);
}
.main-visual >.main-slider .content05  >a {
  background-image: url(../IMG/section1-5.jpg);
}
.main-visual >.main-slider .content06  >a {
  background-image: url(../IMG/section1-6.jpg);
}
.main-visual >.main-slider .content07 >a  {
  background-image: url(../IMG/section1-7.jpg);
}
.main-visual >.main-slider .content08 >a  {
  background-image: url(../IMG/section1-8.jpg);
}
.main-visual >.main-slider .content09  >a {
  background-image: url(../IMG/section1-9.jpg);
}
.main-visual >.main-slider .content10 >a  {
  background-image: url(../IMG/section1-10.jpg);
}
.main-visual >.main-slider .content11 >a  {
  background-image: url(../IMG/section1-11.jpg);
}

/* 슬라이드 버튼 */
.main-visual >.slider-btn-box {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.main-visual >.prev-box {
  left: 0;
}
.main-visual >.slider-btn-box >.next-btn {
  background-image: url(../img/main_visual_next.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 28px;
  height: 51px;
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  cursor: pointer;
}
.main-visual >.slider-btn-box >.prev-btn {
  background-image: url(../img/main_visual_prev.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 28px;
  height: 51px;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  cursor: pointer;
}

/* 슬라이드 닷츠 */

.main-visual >.slider-dots-box {
  position: absolute;
  bottom: 8px;
  right: 16px;
}
.main-visual >.slider-dots-box >.slider-dots {
  display: flex;
  justify-content : center;
  
}
.main-visual >.slider-dots-box >.slider-dots >.dots {
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  opacity: 1;
  margin: 0 6px;
  border: 1px solid #8a8a89;
  cursor: pointer;
}
.main-visual >.slider-dots-box >.slider-dots >.dots1 {

}

/* 컨트롤 버튼 */
.main-visual >.slider-dots-box .control-btn-box {
  position: relative;
}
.main-visual >.slider-dots-box .control-btn-box >.play{
  background-image: url(../img/main_btn_play.png);
  width: 38px;
  height: 38px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.main-visual >.slider-dots-box .control-btn-box >.pause{

}